main{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.OuterDiv {
  width: 600px;
  height: 400px;
  box-shadow: 10px 10px 10px gainsboro;
  border-radius: 20px;
  display: flex;
}
.InnerDiv {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  background-color: rgb(69, 52, 242);
}
.Sum{
  width: 300px;
  height: 400px;
}
.Result {
  color: darkgray;
  position: relative;
  left: 110px;
  top: 20px;
}
.RoundDiv {
  position: relative;
  left: 75px;
  top: 30px;
  width: 150px;
  height: 150px;
  background-color: rgb(50, 42, 222);
  border-radius: 50%;
}
.score {
  position: relative;
  left: 45px;
  top: 30px;
  font-size: 55px;
  color: aliceblue;
}
.Highscore {
  position: relative;
  left: 53px;
  top: 25px;
  color: gray;
}
h2 {
  position: relative;
  left: 120px;
  top: 30px;
  color: white;
}
.ScorePercent {
  position: relative;
  left: 50px;
  top: 30px;
  color: darkgrey;
}
.Summary {
  position: relative;
  left: 35px;
  top: 20px;
}
.Reaction {
  position: relative;
  left: 40px;
  top: 40px;
  width: 200px;
  height: 40px;
  background-color: rgb(228, 182, 167, 0.2);
  border-radius: 10px;
}
.react{
  position: relative;
  left: 10px;
  top: 9px;
  width: 20px;
}
.memo {
  position: relative;
  left: 12px;
  top: 13px;
  width: 19px;
}
.verb {
  position: relative;
  left: 12px;
  top: 13px;
  width: 19px;
}
.visu {
  position: relative;
  left: 12px;
  top: 10px;
  width: 20px;
}
.Reactspan {
  color: rgb(207, 51, 58);
  position: relative;
  top: 5px;
  left: 10px;
}
.Memoryspan {
  color: rgb(219, 186, 75);
  position: relative;
  top: 10px;
  left: 15px;
}
.Verbspan {
  color: rgb(2, 196, 196);
  position: relative;
  top: 9px;
  left: 15px;
}
.Visualspan{
    color: rgb(96, 8, 236);
  position: relative;
  top: 5px;
  left: 15px;
}
.grade {
  position: absolute;
  left: 135px;
  bottom: 9px;
}
.outof {
  color: darkgrey;
}
.Memory {
  position: relative;
  left: 40px;
  top: 55px;
  width: 200px;
  height: 40px;
  background-color: rgba(180, 204, 43, 0.1);
  border-radius: 10px;
}
.Verbal {
  background-color: rgba(18, 185, 149, 0.1);
  border-radius: 10px;
  position: relative;
  width: 200px;
  height: 40px;
  top:70px;
  left: 42px;
}
.Visual {
  background-color:rgb(122, 77, 163, 0.2) ;
  border-radius: 10px;
  position: relative;
  top: 85px;
  left: 42px;
  width: 200px;
  height: 40px;
}
input{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    position: relative;
    left:42px;
    top: 80px;
    background-color:midnightblue;
    color: aliceblue;
}